@layer base {
  ::placeholder {
    color: color-mix(in oklab, currentcolor 50%, transparent);
  }

  .foo {
    /* this just forces the tailwind pipeline to run so things take just a bit more time */
    /* It seems to improve the reliability of the crash which is probably a race condition */
    color: --theme(--doesnotexist, red);
  }

  @property --some-prop {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
  }
}
